server:
  port: 8084

spring:
  application:
    name: service-price

  cloud:
    nacos:
      server-addr: 127.0.0.1:8848

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/service-price?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: 123456
    password: 123456